---
export interface Props {
  url: string;
  title: string;
  description?: string;
}

const { url, title, description = '' } = Astro.props;

const hashtag = 'いそしぎ忘備録';
const mention = 'isoshigicchi';

let text = title;
if (description) text += '\n' + description;
text += '\n@' + mention;

const shareUrl = `https://twitter.com/intent/tweet?url=${encodeURIComponent(url)}&text=${encodeURIComponent(text)}&hashtags=${encodeURIComponent(hashtag)}`;
---

<a href={shareUrl} target="_blank" rel="noopener noreferrer">
  Xでシェア
</a>
